# Frequency Distributions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Problem 1.1

In [2]:
daily_demand = pd.Series([2, 1, 0, 2, 1, 
                          3, 0, 2, 4, 0, 
                          3, 2, 3, 4, 2, 
                          2, 2, 4, 3, 0])

In [3]:
df = pd.DataFrame({'Frequency': daily_demand.value_counts().sort_index()}, index = sorted(daily_demand.unique()))
df.index.name = 'Daily Demand'
df.loc['Total'] = df.sum()
df

              Frequency
Daily Demand
0                     4
1                     2
2                     7
3                     4
4                     3
Total                20

## Problem 1.2

In [4]:
df['Relative Frequency'] = pd.Series(daily_demand.value_counts(normalize = True).sort_index())
df.loc['Total', 'Relative Frequency'] = df['Relative Frequency'].sum()
df

              Frequency  Relative Frequency
Daily Demand
0                     4                0.20
1                     2                0.10
2                     7                0.35
3                     4                0.20
4                     3                0.15
Total                20                1.00

## Problem 1.3

In [5]:
df['Cumulative Relative Frequency'] = df['Relative Frequency'].cumsum()
df.loc['Total', 'Cumulative Relative Frequency'] = df['Relative Frequency'].sum() - 1
df

              Frequency  Relative Frequency  Cumulative Relative Frequency
Daily Demand
0                     4                0.20                           0.20
1                     2                0.10                           0.30
2                     7                0.35                           0.65
3                     4                0.20                           0.85
4                     3                0.15                           1.00
Total                20                1.00                           1.00

## Problem 1.4

In [6]:
calls_per_day = pd.Series([4,5,1,0,7,8,
                           3,6,8,3,0,9,
                           2,12,14,5,5,10,
                           7,2,11,9,4,3,
                           1,5,7,3,5,6])

In [7]:
cuts = pd.cut(calls_per_day, [0,2,5,8,11,14], include_lowest=True)
df2 = pd.DataFrame(pd.value_counts(cuts, sort=False),  columns = ['Frequency'])
df2.index.name = 'Calls per Day'
df2

               Frequency
Calls per Day
(-0.001, 2.0]          6
(2.0, 5.0]            11
(5.0, 8.0]             7
(8.0, 11.0]            4
(11.0, 14.0]           2

## Problem 1.5

In [8]:
df2['Relative Frequency'] = pd.value_counts(cuts, sort=False, normalize=True)
df2

               Frequency  Relative Frequency
Calls per Day
(-0.001, 2.0]          6            0.200000
(2.0, 5.0]            11            0.366667
(5.0, 8.0]             7            0.233333
(8.0, 11.0]            4            0.133333
(11.0, 14.0]           2            0.066667

## Problem 1.6

In [9]:
df2['Cumulative Relative Frequency'] = df2['Relative Frequency'].cumsum()
df2

               Frequency  Relative Frequency  Cumulative Relative Frequency
Calls per Day
(-0.001, 2.0]          6            0.200000                       0.200000
(2.0, 5.0]            11            0.366667                       0.566667
(5.0, 8.0]             7            0.233333                       0.800000
(8.0, 11.0]            4            0.133333                       0.933333
(11.0, 14.0]           2            0.066667                       1.000000