# Frequency Distributions

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
%matplotlib inline

## Problem 1.1

In [2]:
daily_demand = pd.Series([2, 1, 0, 2, 1, 3, 0, 2, 4, 0, 3, 2, 3, 4, 2, 2, 2, 4, 3, 0])

In [3]:
df = pd.DataFrame({'Frequency': daily_demand.value_counts().sort_index()}, index = sorted(daily_demand.unique()))
df.index.name = 'Daily Demand'
df.loc['Total'] = df.sum()
df

              Frequency
Daily Demand
0                     4
1                     2
2                     7
3                     4
4                     3
Total                20